body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    background-color: #111;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header .logo img {
    width: 50px;
}

.header .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute; /* Change this from absolute to relative */
    margin-right: 20px; /* Adjust the margin as needed */
}

.header .hamburger span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

.header .menu-items {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header .menu-items li {
    margin: 0 7px;
}

.header .menu-items li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

.header .menu-items li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: orange;
}

#hero {
    padding: 20px 20px 50px 20px;
    background: url('desktop-hero-background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-content .btn {
    padding: 10px 20px;
    background-color: orange;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

#portfolio {
    padding: 50px 20px;
    background: url('Yellow3.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.portfolio-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.text-content {
    max-width: 50%;
}

.portfolio-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.portfolio-content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.portfolio-image-container {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.portfolio-image-container img {
    width: 100%;
    max-width: 500px;
}

#about {
    padding: 50px 20px;
    background: url('desktop-about-background.jpg') no-repeat center center/cover;
    text-align: center;
}

.about-content img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.about-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
}

#services {
    padding: 50px 20px;
    background: url('desktop-services-background.jpg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.services-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-content p {
    font-size: 18px;
}

footer {
    padding: 20px;
    background-color: #111;
    text-align: center;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media img {
    width: 40px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    #hero {
        background: url('tablet-hero-background.jpg') no-repeat center center/cover;
    }

    #portfolio {
        background: url('tab-sec2.png') no-repeat center center/cover;
    }

    #about {
        background: url('tablet-about-background.jpg') no-repeat center center/cover;
    }

    #services {
        background: url('tablet-services-background.jpg') no-repeat center center/cover;
    }
}

@media (max-width: 768px) {
    .header .hamburger {
        display: flex;
        position: absolute;
        right: 20px;
    }

    .header .menu-items {
        display: none;
        flex-direction: column;
        background-color: #111;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .header .menu-items.expanded {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #hero {
        background: url('mobile-hero-background.jpg') no-repeat center center/cover;
    }

    #portfolio {
        background: url('mob-sec2.png');
    }

    #about {
        background: url('mobile-about-background.jpg') no-repeat center center/cover;
    }

    #services {
        background: url('mobile-services-background.jpg') no-repeat center center/cover;
    }

    .portfolio-content, .about-content, .services-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content, .portfolio-image-container, .about-content img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .header .menu-items {
        top: 35px;
    }

    #hero {
        padding: 0px 20px 20px 20px;
        background: url('mobile-hero-background.jpg') no-repeat center center/cover;
    }

    #portfolio {
        padding: 20px;
        background: url('mob-sec2.png') no-repeat center center/cover;
    }

    #about {
        padding: 20px;
        background: url('mobile-about-background.jpg') no-repeat center center/cover;
    }

    #services {
        padding: 20px;
        background: url('mobile-services-background.jpg') no-repeat center center/cover;
    }
}
